{{!-- DISPLAYS TABLE OF INVENTORY --}}
<div class="row">
  <h1 class="text-center">Product Inventory</h1>
  <div id="addNew">
    <h2>
      <button class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
      </button>
      Add new item
    </h2>
  </div>
  <br><br>
  <div class="table-responsive text-left">        
    <table class="table table-condensed table-bordered table-hover" style="font-size: 22px;">
      <thead>
        <tr>
          <th class="col-header" data-name="name">
            Name
            <span class="glyphicon glyphicon-chevron-down" id='sorted'></span>
          </th>
          <th class="col-header" data-name="dept">Department</th>
          <th class="col-header" data-name="price">Price</th>
          <th class="col-header" data-name="units">Units</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td class="col-sm-3">{{this.product_name}}</td>
            <td class="col-sm-3">{{this.department_name}}</td>
            <td class="col-sm-2">${{this.price}}</td>
            <td class="col-sm-1">{{this.quantity_on_hand}}</td>
            <td class="col-sm-2 text-center">
              <button class='btn btn-xs btn-primary' data-index="{{this.item_id}}" alt='Edit'>
                <span class='glyphicon glyphicon-pencil'></span>
              </button>
              <button class='btn btn-xs btn-danger' data-index="{{this.item_id}}" alt='Delete'>
                <span class='glyphicon glyphicon-trash'></span>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/js/viewall.js"></script>
